name: Cache Dependencies

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Cache dependencies
        id: cache-step
        uses: actions/cache@v4
        with:
          path: ~/my-cache
          key: cache-bd44a1b

      - name: prime-cache-bd44a1b
        run: echo "Cache hit ${{ steps.cache-step.outputs.cache-hit }}"
