name: Docker Build and Push

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Create Dockerfile
        run: echo "FROM alpine" > Dockerfile

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: shreeyatapaswi
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: shreeyatapaswi/myimage:24f2004399
